force-app/main/default/flows/Add_Loyalty_Points_on_Order_Activation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_Loyalty_Member</name>
        <label>Has Loyalty Member?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Loyalty_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loyalty_Member_for_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loyalty_Points</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>loyaltypointplusearnedpoint</name>
        <dataType>Number</dataType>
        <expression>{!Get_Loyalty_Member_for_Contact.Loyalty_Points_Balance__c}+{!PointsEarned}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PointsEarned</name>
        <dataType>Number</dataType>
        <expression>{!$Record.TotalAmount} *0.1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Add Loyalty Points on Order Activation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Loyalty Points on Order Activation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Loyalty_Member</name>
        <label>Create Loyalty Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Loyalty_Member_for_Contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Points_History</name>
        <label>Create Points History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_Error_create_point_history</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Loyalty_Member__c</field>
            <value>
                <elementReference>Get_Loyalty_Member_for_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Point_Earned__c</field>
            <value>
                <elementReference>PointsEarned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Loyalty_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Error_create_point_history</name>
        <label>Log Error - create point history</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <stringValue>$Flow.FaultMessage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Record_Id__c</field>
            <value>
                <stringValue>$Record.Id</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>&quot;Flow: Add Loyalty Points - Create Points History&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Error_Update_Loyalty_Points</name>
        <label>Log Error - Update Loyalty Points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <stringValue>$Flow.FaultMessage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Record_Id__c</field>
            <value>
                <stringValue>$Record.Id</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>&quot;Flow: Add Loyalty Points - Update Loyalty Points&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Loyalty_Member_for_Contact</name>
        <label>Get Loyalty Member for Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Loyalty_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loyalty_Member_for_Contact.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loyalty_Member__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loyalty_Points</name>
        <label>Update Loyalty Points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Points_History</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Update_Loyalty_Points</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loyalty_Member_for_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loyalty_Points_Balance__c</field>
            <value>
                <elementReference>loyaltypointplusearnedpoint</elementReference>
            </value>
        </inputAssignments>
        <object>Loyalty_Member__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loyalty_Member_for_Contact</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
