force-app/main/default/flows/Claim_Reward_Portal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_Reward_for_Approval</name>
        <label>Submit Reward for Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Set_Status_to_Pending_Approval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>varRedemptionId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Calculate_New_Balance</name>
        <label>Calculate New Balance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNewBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_NewBalance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loyalty_Member_Balance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Vars_for_Free_Shipping_50</name>
        <label>Set Vars for Free Shipping 50</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRewardCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FREESHIP_50</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRewardLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Free Shipping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRewardCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Enough_Points</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Vars_for_Voucher_100</name>
        <label>Set Vars for Voucher 100</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRewardCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Voucher_100</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRewardLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>₹100 voucher</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRewardCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Enough_Points</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Vars_for_Voucher_500</name>
        <label>Set Vars for Voucher 500</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRewardCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Voucher_500</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRewardLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>₹500 voucher</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRewardCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>500.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Enough_Points</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_FREESHIP_50</name>
        <choiceText>FREESHIP_50</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choice_reward</name>
        <choiceText>VOUCHER_100|100</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choice_reward1</name>
        <choiceText>VOUCHER_100|100</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choice_reward2</name>
        <choiceText>FREESHIP|50</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choice_reward3</name>
        <choiceText>FREESHIP|500</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choice_VOUCHER_100</name>
        <choiceText>VOUCHER_100</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FREESHIP_50</name>
        <choiceText>VOUCHER_500</choiceText>
        <dataType>String</dataType>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Has_Enough_Points</name>
        <label>Has Enough Points?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Not_Enough_Points</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Enough Points</defaultConnectorLabel>
        <rules>
            <name>Enough_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loyalty_Member_for_Current_User.Loyalty_Points_Balance__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varRewardCost</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reward_Redemption</targetReference>
            </connector>
            <label>Enough Points</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Loyalty_Member</name>
        <label>Has Loyalty Member?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Display_Points_Rewards</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loyalty_Member_for_Current_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Points_Rewards</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parse_Selected_Reward</name>
        <label>Parse Selected Reward</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Enough_Points</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown Choice</defaultConnectorLabel>
        <rules>
            <name>Voucher_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedReward</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_VOUCHER_100</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Vars_for_Voucher_100</targetReference>
            </connector>
            <label>Voucher 100</label>
        </rules>
        <rules>
            <name>Free_Shipping_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedReward</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FREESHIP_50</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Vars_for_Free_Shipping_50</targetReference>
            </connector>
            <label>Free Shipping 50</label>
        </rules>
        <rules>
            <name>Voucher_500</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedReward</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Voucher_500</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Vars_for_Voucher_500</targetReference>
            </connector>
            <label>Voucher 500</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requires_Approval</name>
        <label>Requires Approval?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Calculate_New_Balance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Approval Needed</defaultConnectorLabel>
        <rules>
            <name>Needs_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRewardCost</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Reward_for_Approval</targetReference>
            </connector>
            <label>Needs Approval</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Claim_Reward_Portal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim Reward Portal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Reward_Redemption</name>
        <label>Create Reward Redemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Requires_Approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Flow_Error_Claim_Reward</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>varRewardCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Loyalty_Member_for_Current_User.Contact1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loyalty_Member__c</field>
            <value>
                <elementReference>Get_Loyalty_Member_for_Current_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reward_Name__c</field>
            <value>
                <elementReference>varRewardLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Reward_Redemption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Flow_Error_Approval_Check</name>
        <label>Log Flow Error - Approval Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Flow_Error_Claim_Reward</name>
        <label>Log Flow Error - Claim Reward</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <stringValue>$Flow.FaultMessage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Record_Id__c</field>
            <value>
                <elementReference>varRedemptionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>&quot;Claim Reward Flow - Create Reward Redemption&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Flow_Error_pending_approval</name>
        <label>Log Flow Error - pending approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <stringValue>$Flow.FaultMessage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Record_Id__c</field>
            <value>
                <elementReference>varRedemptionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>&quot;Claim Reward Flow - Create Reward Redemption&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Loyalty_Member_for_Current_User</name>
        <label>Get Loyalty Member for Current User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Loyalty_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loyalty_Member_for_Current_User.Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loyalty_Member__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Status_to_Pending_Approval</name>
        <label>Set Status to Pending Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Redemption_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Flow_Error_pending_approval</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRedemptionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Reward_Redemption__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loyalty_Member_Balance</name>
        <label>Update Loyalty Member Balance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Redemption_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Flow_Error_Approval_Check</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loyalty_Member_for_Current_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loyalty_Points_Balance__c</field>
            <value>
                <elementReference>varNewBalance</elementReference>
            </value>
        </inputAssignments>
        <object>Loyalty_Member__c</object>
    </recordUpdates>
    <screens>
        <name>Display_Points_Rewards</name>
        <label>Display Points &amp; Rewards</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Parse_Selected_Reward</targetReference>
        </connector>
        <fields>
            <name>ShowPoints</name>
            <fieldText>&lt;p&gt;Your available points: {!Get_Loyalty_Member_for_Current_User.Loyalty_Points_Balance__c}&lt;/p&gt;&lt;p&gt;Your tier: {!Get_Loyalty_Member_for_Current_User.Loyalty_Tier__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectReward</name>
            <choiceReferences>choice_VOUCHER_100</choiceReferences>
            <choiceReferences>FREESHIP_50</choiceReferences>
            <choiceReferences>choice_FREESHIP_50</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SelectReward</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Enough_Points</name>
        <label>Not Enough Points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Reward_Redemption</targetReference>
        </connector>
        <fields>
            <name>PointsMessage</name>
            <fieldText>&lt;p&gt;Sorry, you don’t have enough loyalty points for this reward.&lt;/p&gt;&lt;p&gt;Your balance: {!Get_Loyalty_Member_for_Current_User.Loyalty_Points_Balance__c}&lt;/p&gt;&lt;p&gt;Required: {!varRewardCost}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redemption_Confirmation</name>
        <label>Redemption Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;✅ Your reward request has been submitted successfully.&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Reference ID: {!varRedemptionId}&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loyalty_Member_for_Current_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>f_NewBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Get_Loyalty_Member_for_Current_User.Loyalty_Points_Balance__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varDebugContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDebugPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNewBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRedemptionId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Parsed reward code (VOUCHER_100 etc.)</description>
        <name>varRewardCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Cost in points</description>
        <name>varRewardCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Human friendly label (₹100 voucher)</description>
        <name>varRewardLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Picked choice value from screen (text value like VOUCHER_100)</description>
        <name>varSelectedReward</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
