force-app/main/default/flows/Inactive_Customer_Reengagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_We_Miss_You</name>
        <label>Email Alert - We Miss You</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Contact.Inactive_Customer_Reengagement</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Follow_Up_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Inactive_Contacts.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Inactive_Customer_Reengagement</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Mark_Contact_Reengaged</name>
        <label>Mark Contact Reengaged</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_UpdateContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Inactive_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_UpdateContact.Reengagement_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Contacts_To_Update.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_UpdateContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Inactive_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Inactive_Contacts</name>
        <label>Any Inactive Contacts?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Inactive_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inactive_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Inactive_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_cutoff_date</name>
        <dataType>Date</dataType>
        <expression>$Flow.CurrentDate - 90</expression>
    </formulas>
    <interviewLabel>Inactive_Customer_Reengagement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inactive_Customer_Reengagement</label>
    <loops>
        <name>Loop_Inactive_Contacts</name>
        <label>Loop Inactive Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Inactive_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Alert_We_Miss_You</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Reengagement_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Follow_Up_Task</name>
        <label>Create Follow-Up Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mark_Contact_Reengaged</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fj000005oMfB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>“Reengagement Follow-Up”</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Loop_Inactive_Contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Error_Update_Reengagement_flag</name>
        <label>Log Error : Update Reengagement flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <stringValue>$Flow.FaultMessage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Record_Id__c</field>
            <value>
                <elementReference>Loop_Inactive_Contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>&quot;Inactive_Reengagement_Flow - &lt;element name&gt;&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Inactive_Contacts</name>
        <label>Get Inactive Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Inactive_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Order_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>f_cutoff_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reengagement_Email_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Reengagement_Flag</name>
        <label>Update Reengagement Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_Error_Update_Reengagement_flag</targetReference>
        </faultConnector>
        <inputReference>col_Contacts_To_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inactive_Contacts</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-09-23</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>col_Contacts_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rec_UpdateContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SObjectRowId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
